<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="leaderboard">
        <div class="description">
            <h2>Match Making Game</h2>
            <h3>Leaderboard</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Rank</td>
                    <td>
                        Player
                    </td>
                    <td>
                        Score
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="winner">1</td>
                    <td>
                        <p> Jose Brag</p>
                    </td>
                    <td>239</td>
                </tr>

                <tr>
                    <td id="runner-up">2</td>
                    <td>
                        <p> Lily Simons</p>
                    </td>
                    <td>209</td>
                </tr>

                <tr>
                    <td id="second-runner-up">3</td>
                    <td>
                        <p> Tom Higgle</p>
                    </td>
                    <td>154</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>
                        <p> Alex Roger</p>
                    </td>
                    <td>100</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>
                        <p> Mavie Ruth</p>
                    </td>
                    <td>82</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</body>

</html>